<!-- <div class="container-fluid bg-1 text-center">
  <img src="https://d13yacurqjgara.cloudfront.net/users/140720/screenshots/2824238/hiring-800x600.gif" class="img-circle img-responsive margin" style="display:inline" alt="bird">
  <p class="margin"><a class="btn btn-lg btn-danger" href="/jobs">JOIN US</a></p>
</div -->
