/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato');

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
@import "colors";

body {
  font-family: 'Lato', sans-serif;
}

footer {
  .copyright {
    text-align: center;
    color: $secondary;
    a {
      color: $highlight_2;
    }
  }
}

// - - - - - - - - - - Style - - - - - - - - - - //
.border {
  height: 6px;
  border: 0;
  background-color: $highlight_1;
  background-image:
    linear-gradient(
      to right,
      $highlight_1,
      $highlight_1 25%,
      $highlight_2 25%,
      $highlight_2 50%,
      $highlight_3 50%,
      $highlight_3 75%,
      $highlight_4 75%,
      $highlight_4 100%,
      $highlight_4 100%
    );
  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  background-size: 50% 100%;
}

// - - - - - - - - - - Navbar - - - - - - - - - - //

.navbar {
  border: 1px solid transparent;
  padding-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  .navbar-brand {
    padding: 0 0 0 15px;
    img {
      width: 50px;
    }
  }
}

// - - - - - - - - - - 600- - - - - - - - - - - //
@media only screen and (max-width: 600px) {
  .navbar {
    padding-top: 10px;
    margin-bottom: 10px;
  }
}

// - - - - - - - - - - LOGIN - - - - - - - - - - - //
#signup_and_login {
  .thumbnail {
    max-width: 35em;
    margin: auto;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0.5em $border;
    padding: 0;

    .heading {
      background: $highlight_2;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0.8em;
      margin-top: 0;
    }

    .content {
      padding: 1.5em;
      .btn-info {
        background-color: $highlight_2;
        border: transparent;
      }
    }
  }
}
